//----------------------------------------------------------
// Leaderboard

.Wrap-leaderboard {
  
  display: none;
    
}

@media (min-width: 750px ){

  .Wrap-leaderboard {
    display: block;    
    margin: 0;
    padding: 0.5em;
    background-color: #444;
    
  }
  
  .Leaderboard {
    
    width: 728px;
    height: 90px;
    margin: 0 auto;
    
  }

}


//----------------------------------------------------------
// Big Box



.Wrap-bigbox {
  
  margin: 2em auto;
  width: 300px;
  
}

@media ( min-width: 40em ) {
  
  // js adds a class indicating it's placed the ad. If it doesn't do that, the ad won't float and break the layout.
  .Wrap-bigbox.js-rendered {
    
    margin: 0 0 2em 2em;
    float: right;
    
  }
  
}