.Wrap-archive {
  margin: 0 auto;
  padding: 1em;
  max-width: 60em;
  max-width: 60rem;
}

.Wrap-archive-item {
  margin: 2em auto;
  padding-bottom: 2em;
  border-bottom: solid 1px #bbb;
}

.Wrap-archive-item .Article-header {
  max-width: 60em;
}


.excerpt-more {
  background: #d22;
  font-weight: bold;
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 0.3em 0.6em;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;    
}

.excerpt-more:hover {
  background: #444;
  color: #fff;
}