.Pagination {
  
  margin: 1em auto 2em;
  max-width: 60em;
  
}

.Pagination-list {

  margin: 0;
  padding: 0 1em; // padding is added so buttons don't touch window at smaller sizes
  list-style: none;
  
  display: flex;
  justify-content: space-between;
  
}

@media ( min-width: 40em ) {
  
  .Pagination-list {
    
    // remove padding around the list so that it fills out the column
    padding: 0;
    height: 2em;    
    
  }
  
}


.Pagination-list-item {
  
  flex-grow: 1;
  
}


.Pagination-link {
  
  display: block;
  background: #d22;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 4px;  
}

.Pagination-link:hover {
  color: #fff;
  background-color: #444;
}

.Pagination-link--newer {
  text-align: left;
  padding-left: 1em;
  margin-right: 0.5em;
}

.Pagination-link--older {
  text-align: right;
  padding-right: 1em;
  margin-left: 0.5em;
}


.Pagination-icon {
  display: inline-block;
  vertical-align: bottom;
  background-repeat: no-repeat;
  width: 1.2em;
  height: 1.2em;
  transition-property: transform;
  transition-duration: 0.2s;
}

.Pagination-icon--older {
  margin-left: 1em;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M15.5%208L8%20.5V5H0v6h8v4.5z%22%2F%3E%3C%2Fsvg%3E');
}

.Pagination-icon--newer {
  margin-right: 1em;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M.5%208L8%2015.5V11h8V5H8V.5z%22%2F%3E%3C%2Fsvg%3E');
}


.Pagination-link--newer:hover .Pagination-icon--newer {
  
  transform: translateX(-0.3em);
  
}

.Pagination-link--older:hover .Pagination-icon--older {
  
  transform: translateX(0.3em);
  
}








