.Wrap-archive {
  margin: 0 auto;
  padding: 1em;
  max-width: 60em;
  max-width: 60rem;
}

.Archive-label {
  padding-bottom: 1rem;
  border-bottom: solid 3px #777;
}

@media (min-width: 40em) {
  
  .Archive-label {
    font-size: 3em;
  }
  
}



.Wrap-archive-item {
  margin: 2em auto;
  padding-bottom: 2em;
  border-bottom: solid 1px #ddd;
}

.Wrap-archive-item .Article-header {
  max-width: 60em;
}


.excerpt-more {
  background: #d22;
  font-weight: bold;
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 0.3em 0.6em;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;    
}

.excerpt-more:hover {
  background: #444;
  color: #fff;
}





//----------------------------------------------------------
// Issue taxonomy pages


.Wrap-issue-header {
  overflow-y: hidden;
  border-bottom: solid 1px #ddd;
}


.Wrap-cover-image {
  margin: 0;
}


@media ( min-width: 40em ) {
  
  .Wrap-cover-image {
    max-width: 300px;
    float: left;
    margin-bottom: 1em;
    margin-right: 1em;
    
  }
  
}