/*=========================================================
/* Author */

.Author {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.Author-name {
  margin-right: 1em;
  font-weight: bold;
}

.Author-name::before {
  content: "By ";
}

.Author-website,
.Author-twitter {
  margin-right: 1em;
  color: #777;
  text-decoration: none;
}

.Author-website {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23444%22%20d%3D%22M6.88%209.934c-.21%200-.417-.08-.576-.238-1.486-1.486-1.486-3.905%200-5.392l3-3C10.024.584%2010.982.187%2012%20.187s1.976.397%202.696%201.117c1.486%201.487%201.486%203.905%200%205.392l-1.37%201.37c-.318.318-.833.318-1.15%200s-.317-.83%200-1.148l1.37-1.37c.854-.854.854-2.242%200-3.095-.412-.413-.962-.64-1.546-.64s-1.134.227-1.547.64l-3%203c-.853.853-.853%202.24%200%203.094.317.317.317.832%200%201.15-.16.158-.367.237-.575.237z%22%2F%3E%3Cpath%20fill%3D%22%23444%22%20d%3D%22M4%2015.813c-1.018%200-1.976-.397-2.696-1.117-1.486-1.486-1.486-3.905%200-5.392l1.37-1.37c.318-.318.833-.318%201.15%200s.317.83%200%201.148l-1.37%201.37c-.854.854-.854%202.242%200%203.095.412.413.96.64%201.546.64s1.134-.227%201.547-.64l3-3c.853-.853.853-2.24%200-3.094-.317-.317-.317-.832%200-1.15s.832-.316%201.15%200c1.485%201.487%201.485%203.906%200%205.393l-3%203c-.72.72-1.68%201.117-2.697%201.117z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  padding-left: 1.5em;
}


.Author-twitter {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23777%22%20d%3D%22M16%203.038c-.59.26-1.22.438-1.885.517.678-.406%201.198-1.05%201.443-1.816-.634.375-1.337.648-2.085.796-.6-.638-1.452-1.037-2.396-1.037-1.813%200-3.283%201.47-3.283%203.28%200%20.258.03.51.085.75C5.15%205.39%202.73%204.084%201.112%202.1.83%202.583.67%203.147.67%203.75c0%201.138.578%202.143%201.46%202.73-.54-.016-1.045-.164-1.488-.41v.04c0%201.59%201.132%202.918%202.633%203.22-.275.075-.565.115-.865.115-.212%200-.417-.02-.618-.06.418%201.305%201.63%202.254%203.066%202.28-1.123.88-2.54%201.406-4.077%201.406-.264%200-.525-.015-.782-.045%201.453.93%203.178%201.475%205.032%201.475%206.038%200%209.34-5.002%209.34-9.34%200-.142-.003-.284-.01-.425.642-.463%201.198-1.04%201.638-1.7z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  padding-left: 1.5em;
  
}