/*=========================================================
/* Categories! */

.Wrap-footer {
  
  margin: 0;
  background: #444;
  padding: 4em 1em;
}


.Footer {
  
  max-width: 60em;
  max-width: 60rem;
  margin: 0 auto;
  color: #ddd;
  font-size: 0.85em;
  
}

.Footer-segment {
  
  margin: 1em 0 3em;
  
}


@media (min-width: 40em) {
   
   .Footer {
     display: flex;
   } 
   
   .Footer-segment {
     
     width: 33%;
     margin: 0 1em;
     
     
   }
  
}

.Footer-header {
  
  font-size: 1em;
  font-size: 1rem;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: solid 3px #777;
  
}

.Footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Footer-menu a {
  color: #ddd;
  text-decoration: none;
}
  
  .Footer-menu a:hover {
    color: #d22;
  }



.Footer-subscribe,
.Footer-donate {
  display: block;
  padding: 0.5em 1em;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  color: #fff;
}

.Footer-subscribe {
  
  margin-bottom: 1em;
  background-color: #d22;
  
}

  .Footer-subscribe:hover {
    
    background-color: #a22;
    color: #fff;
    
  }

.Footer-donate {
  
  background-color: #1E90FF;
  
}

  .Footer-donate:hover {
    background-color: #4169E1;
    color: #fff;
  }


