.Wrap-home {
  
  margin: 1em auto;
  max-width: 60em;
  padding: 1em;
    
}

.Home-article {
  padding-bottom: 2em;
  margin-bottom: 1em;
  border-bottom: solid 1px #ddd;
}

.Home-link {
  display: block;
  height: 100%;
  color: #444;
  text-decoration: none;
}

.Home-thumbnail {
  margin: 0;
  padding: 0;
}

.Home-hed {
  font-size: 1.4em;
  transition-property: color;
  transition-duration: 0.2s;
}

.Home-link:hover .Home-hed {
  color: #d22;
}

.Home-dek {
  font-weight: normal;
  font-size: 1em;
}

.Home-author {
  font-weight: bold;
}

.Home-author:before {
  content: "By ";
}

.Home-excerpt {
  font-size: 0.8em;
}

  .Home-article .excerpt-more {
    display: inline-block;
    margin-top: 1em;
  }



@media ( min-width: 40em ) {

  .Wrap-home {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

  .Home-article {

    width: 31%;
  }  

}