/*=========================================================
/* Share buttons */

.Share {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 1em auto;
  max-width: 40em;
  clear: both;
}

.Share-button {
  flex-grow: 1;
  margin: 0 0.5em;
  padding: 0.5em 1em;
//  width: 50%;
  
  background: #333;
  color: #fff;
  text-decoration: none;
  font-size: 0.75em;
  font-weight: bold;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
}
  
  .Share-button:first-child {
    margin-left: 0;
  }
  
  .Share-button:last-child {
    margin-right: 0;
  }
  
  .Share-button:hover {
    background-color: #d22;
    color: #fff;
  }


.Share-button {
    padding: 0.5em 0.5em 0.5em 2.2em;
  }


.Share-button--facebook {
  background-color: #3b5998;
}

.Share-button--twitter {
  background-color: #55acee;
}

   
/* Add the sprite to every button, position individually */
.Share-button:before {
  content: "";
  width: 1.2em;
  height: 1.2em;
  overflow: hidden;
  position: absolute;
  margin-left: -1.5em;
  background-repeat: no-repeat;
  background-size: 1em;
  background-position-y: 0.1em;
}

.Share-button--facebook:before {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M13.334%200H2.667C1.194%200%200%201.194%200%202.667v10.666C0%2014.806%201.196%2016%202.668%2016H8V9H6V7h2V5.5C8%204.12%209.12%203%2010.5%203H13v2h-2.5c-.275%200-.5.224-.5.5V7h2.75l-.5%202H10v7h3.335C14.808%2016%2016%2014.806%2016%2013.333V2.667C16%201.194%2014.808%200%2013.336%200z%22%2F%3E%3C%2Fsvg%3E');
}

.Share-button--twitter:before {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M16%203.038c-.59.26-1.22.438-1.885.517.678-.406%201.198-1.05%201.443-1.816-.634.37-1.337.642-2.085.79-.6-.638-1.452-1.037-2.396-1.037-1.813%200-3.283%201.47-3.283%203.28%200%20.258.03.51.085.75C5.15%205.39%202.73%204.083%201.11%202.1.83%202.583.67%203.147.67%203.75c0%201.138.578%202.143%201.46%202.73-.54-.016-1.045-.164-1.488-.41v.04c0%201.59%201.132%202.918%202.633%203.22-.275.075-.565.115-.865.115-.212%200-.417-.02-.618-.06.418%201.305%201.63%202.254%203.066%202.28-1.123.88-2.54%201.406-4.077%201.406-.26%200-.52-.01-.78-.04%201.457.93%203.18%201.476%205.03%201.476%206.04%200%209.34-5%209.34-9.34%200-.14%200-.283-.01-.424.648-.463%201.2-1.04%201.64-1.7z%22%2F%3E%3C%2Fsvg%3E');
}

.Share-button--email:before {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M14.5%202h-13C.675%202%200%202.675%200%203.5v10c0%20.825.675%201.5%201.5%201.5h13c.825%200%201.5-.675%201.5-1.5v-10c0-.825-.675-1.5-1.5-1.5zM6.23%208.6L2%2011.895V4.057L6.23%208.6zM2.756%204h10.488L8%207.938%202.756%204zm3.64%204.777L8%2010.5l1.605-1.723L12.895%2013h-9.79l3.29-4.223zM9.77%208.6L14%204.057v7.838L9.77%208.6z%22%2F%3E%3C%2Fsvg%3E');
}

.Share-button--print:before {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M4%201h8v2H4V1zM15%204H1c-.55%200-1%20.45-1%201v5c0%20.55.45%201%201%201h3v4h8v-4h3c.55%200%201-.45%201-1V5c0-.55-.45-1-1-1zM2%207c-.552%200-1-.448-1-1s.448-1%201-1%201%20.448%201%201-.448%201-1%201zm9%207H5V9h6v5z%22%2F%3E%3C%2Fsvg%3E');
}




@media (min-width:40em){
  .Share-button {
    font-size: 1em;
  }
}