.Wrap-skybar {
  background: #ddd;
}


.Skybar {
  margin: 0 auto;
  max-width: 60em;
}

.Skybar-list {
  margin: 0;
  padding: 0 1em;
  list-style: none;
  font-size: 0.8em;
  
  display: flex;
  justify-content: flex-end;
  
}

@media ( min-width: 40em ) {
  
  .Skybar-list {
    font-size: 1em;
  }
  
}


.Skybar-list li {
  display: inline-block;
}

.Skybar-list a {
  display: block;
  padding: 0.4em 0.6em;
  text-decoration: none;
  color: #444;
}
  
  .Skybar-list a:hover {
    color: #d22;
  }


.Skybar-link--twitter a:hover {
  background-color: #55acee;
  color: #fff;
}

.Skybar-link--facebook a:hover {
  background-color: #3b5998;
  color: #fff;
}



.Skybar-link--subscribe a {
  background-color: #d22;
  color: #fff;
}


.Skybar-link--donate a {
  background-color: #1E90FF;
  color: #fff;  
}

.Skybar-link--subscribe a:hover,
.Skybar-link--donate a:hover {
  background-color: #444;
  color: #fff;
}





