.Wrap-skybar {
  background: #ddd;
}

.Skybar {
  margin: 0 auto;
  max-width: 60em;
}

.Skybar-list {
  margin: 0;
  padding: 0 1em;
  list-style: none;
  font-size: 0.8em;

  display: flex;
  justify-content: flex-end;
}

@media (min-width: 40em) {
  .Skybar-list {
    font-size: 1em;
  }
}

.Skybar-list li {
  display: inline-block;
}

.Skybar-list a {
  display: block;
  padding: 0.4em 0.6em;
  text-decoration: none;
  color: #444;
}

.Skybar-list a:hover {
  color: #d22;
}

.Skybar-link--twitter a,
.Skybar-link--facebook a {
  color: #fff;
  padding-left: 2rem;
}

.Skybar-link--twitter a::before,
.Skybar-link--facebook a::before {
  content: "";
  width: 1.2em;
  height: 1.2em;
  overflow: hidden;
  position: absolute;
  margin-left: -1.5rem;
  background-repeat: no-repeat;
  background-size: 1em;
  background-position-y: 0.1em;
}

.Skybar-link--twitter a:hover,
.Skybar-link--facebook a:hover {
  color: #fff;
  background-color: #444;
}

.Skybar-link--twitter a {
  background-color: #55acee;
}
.Skybar-link--twitter a::before {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M16%203.038c-.59.26-1.22.438-1.885.517.678-.406%201.198-1.05%201.443-1.816-.634.37-1.337.642-2.085.79-.6-.638-1.452-1.037-2.396-1.037-1.813%200-3.283%201.47-3.283%203.28%200%20.258.03.51.085.75C5.15%205.39%202.73%204.083%201.11%202.1.83%202.583.67%203.147.67%203.75c0%201.138.578%202.143%201.46%202.73-.54-.016-1.045-.164-1.488-.41v.04c0%201.59%201.132%202.918%202.633%203.22-.275.075-.565.115-.865.115-.212%200-.417-.02-.618-.06.418%201.305%201.63%202.254%203.066%202.28-1.123.88-2.54%201.406-4.077%201.406-.26%200-.52-.01-.78-.04%201.457.93%203.18%201.476%205.03%201.476%206.04%200%209.34-5%209.34-9.34%200-.14%200-.283-.01-.424.648-.463%201.2-1.04%201.64-1.7z%22%2F%3E%3C%2Fsvg%3E");
}

.Skybar-link--facebook a {
  background-color: #3b5998;
}
.Skybar-link--facebook a::before {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M13.334%200H2.667C1.194%200%200%201.194%200%202.667v10.666C0%2014.806%201.196%2016%202.668%2016H8V9H6V7h2V5.5C8%204.12%209.12%203%2010.5%203H13v2h-2.5c-.275%200-.5.224-.5.5V7h2.75l-.5%202H10v7h3.335C14.808%2016%2016%2014.806%2016%2013.333V2.667C16%201.194%2014.808%200%2013.336%200z%22%2F%3E%3C%2Fsvg%3E");
}

.Skybar-link--subscribe a,
.Skybar-link--donate a,
.Skybar-link--subscribe a:hover,
.Skybar-link--donate a:hover {
  color: #fff;
}

.Skybar-link--subscribe a {
  background-color: #d22;
}

.Skybar-link--donate a {
  background-color: #1e90ff;
}

.Skybar-link--subscribe a:hover {
  background-color: #a22;
}

.Skybar-link--donate a:hover {
  background-color: #4169e1;
}

// positioning social media buttons
.Skybar-link--push {
  margin-right: auto;
}
