// People select a number of subscription options on the subscribe page. .Option class governs them

.Option-wrap {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  // This white-space hack was new to me, and completely bonkers
  // http://stackoverflow.com/questions/6871996/css-two-inline-block-width-50-elements-dont-stack
}


.Option {
  
  display: block;
  white-space: normal;
  width: 100%;
  margin: 0.5em 0;
  text-align: center;
  background: #ddd;
  padding: 1em;
  
  text-decoration: none;
  color: #444;
  font-size: 1.5em;
  border-radius: 0.33em;
  
}

.Option:hover {
  background: green;
  color: #fff;
}

@media ( min-width: 40em ) {
  
  .Option {
    display: inline-block;
    width: 50%;
  }
  
}

  .Option-bestdeal:after{
    content: "Best deal!";
    position: absolute;
    background: gold;
    color: #444;
    font-size: 0.75em;
    margin-top: -2rem;
    padding: 0.33em;
    box-shadow: 0.1em 0.1em 0.3em rgba(0,0,0,0.33);
    transform: rotate(10deg);
  }



.Option-hed {
  width: 100%;
  // this has to be done to fix the nowrap thing going on above
  white-space: normal;
  word-wrap: break-word;
}

.Option-wrap.is-completed {
  opacity: 0.4;
}

.Option-wrap.is-completed .Option {
  background: #ddd;
  color: #999;
}


.Option-wrap.is-completed .Option.is-selected {
  background: green;
  color: #fff;
}

.Checkout {
  
  margin: 1em 0;
  font-size: 1.5em;
  background: green;
  color: #fff;
  padding: 0.5em;
  border: none;
  
}


//----------------------------------------------------------
// Subscribe form

.Address {
  
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
  padding: 1em;
  background-color: #ddd;
  border-radius: 0.33em;
  
}

.Address-label {
  display: block;
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: bold;
  color: #444;
  -webkit-font-smoothing: antialiased;
}

  .Address-label:first-child {
    margin-top: 0;
  }



.Address-input[type="text"],
.Address-input[type="email"] {
  width: 100%;
  font-size: 1.5em;
  border: solid 2px #777;
  padding: 0.2em;
  font-family: monospace;
  border-radius: 3px;
}

.Address-select {
  width: 100%;
  font-size: 1.5em;
}

.Address-input[type="text"]:focus,
.Address-input[type="email"]:focus {
  border-color: #d22;
  outline: none;
}


.Wrap-address-optout {
  display: block;
}

.Address-optout-label {
  font-size: 0.8em;
}

.Address-optout-label,
.Address-optout {
  display: inline;
}


// label > span noting required or not!

.Address-need {
  visibility: hidden;
  float: right;
  font-weight: bold;
  font-size: 0.8em;
}

  .Address-need--req {
    color: #d22;
  }
  
  .Address-need--opt {
    color: #777;
  }

.Address-input:focus + .Address-need {
  visibility: visible;
}



.Address-submit {
  
  display: block;
  width: 100%;
  margin-top: 2em;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  background-color: green;
  color: #fff;
  border-radius: 3px;
  border: none;
  
}

.Address-submit:hover,
.Address-submit:focus {
  background-color: #d22;
}

.Address-submit:active + .Address-submit--paypalnotice,
.Address-submit--paypalnotice {
  visibility: hidden;
  font-size: 0.8em;
  font-weight: bold;
}

.Address-submit:hover + .Address-submit--paypalnotice,
.Address-submit:focus + .Address-submit--paypalnotice {
  visibility: visible;
}


// sub price changes depending on the province
.Sub-price {
  
  //display: block;
  margin-top: 1em;
  font-size: 1.5em;
  color: green;
  
}

.Sub-price-total--final {
  
  font-weight: bold;
  background: gold;
  color: #444;
  padding: 0.2em;
  
}





@media (min-width: 40em) {
  
  .Address {
    
    
  }
  
}







/*=========================================================
/* Subscribe Page OTHER OPTIONS */

.Sub-methods {
  width: 100%;
  outline: solid 1px #ddd;
}

.Sub-methods td {
  padding: 0.5em;
}

.Sub-method--row {
  vertical-align: top;
  border-bottom: solid 1px #ddd;
}

.Sub-method--name {
  font-weight: bold;
}